<h2>Transfer</h2>
<p class="lead">Okay, who's the lucky one?</p>

<form [formGroup]="form" (submit)="onSubmit()" class="form mb-2">
  <div class="form-group mr-2">
    <label for="address" class="mr-2">Address</label>
    <input id="address" size="50" class="form-control" formControlName="address">
  </div>

  <div class="form-group mr-2">
    <label for="amount" class="mr-2">Amount</label>
    <input id="amount" size="50" class="form-control" formControlName="amount">
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Send</button>
</form>

<div *ngIf="messages" class="alert alert-primary" role="alert">
  <div *ngFor="let message of messages">{{message}}</div>
</div>
