<h2>Transaction history</h2>
<p class="lead">Monitor the latest ZCoin transactions</p>


<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Blocknumber</th>
    <th scope="col">From</th>
    <th scope="col">To</th>
    <th scope="col">Tokens</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transfer of transfers">
    <td>{{transfer.blockNumber}}</td>
    <td>{{transfer.returnValues.from}}</td>
    <td>{{transfer.returnValues.to}}</td>
    <td>{{transfer.returnValues.tokens | zcoin}}</td>
  </tr>
  </tbody>
</table>
