<h2>Balance</h2>
<p class="lead">Check your ZCoin balance</p>

<form [formGroup]="form" class="form mb-2 needs-validation">
  <div class="form-group mr-2">
    <label for="address" class="mr-2">Address</label>
    <input id="address" size="50" class="form-control" formControlName="address">
    <div class="invalid-feedback" *ngIf="address.hasError('invalidAddress') && address.touched">
      This is not a valid address
    </div>
  </div>
</form>

<div *ngIf="address.valid && balance" class="alert alert-primary" role="alert">
  The balance is {{balance | zcoin}}
</div>
