<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
  <a class="navbar-brand" routerLink="">
    <img src="assets/zuehlke-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    ZCoin
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/history" routerLinkActive="active">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/balance" routerLinkActive="active">Balance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/transfer" routerLinkActive="active">Transfer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/account" routerLinkActive="active">My Account</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>

  <div *ngIf="loading" class="d-flex justify-content-center">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
