<h2>Something went wrong</h2>
<p class="lead">We're so sorry :/</p>

<div class="d-flex justify-content-center">
  <img src="assets/metamask-problem.png">
</div>

<p>You can try one of the following:</p>
<ul>
  <li>Unlock your metamask account</li>
  <li>Permit this website access to your metamask client</li>
  <li>Connect to a working network</li>
</ul>


